/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
    background-color: rgb(31, 26, 26);
    height: 400px;
}


/* class added on current slide */
.active{
  color: #8FBC8F;
}