/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* containers style */
#app{
  background-color: #8B8386 ;
}

.container{
  background-color:#CDC1C5;
  height: 400px;
}

/* icons style */
.fas{
  cursor: pointer;
}

/* class added on current slide */
.active{
  color: #FFF0F5;
}